.footer {
    border-top: 1px solid #E1E1E1;
    min-width: 320px;
    background-color: #FFF5F6;
}

.footer__rights-block {
    display: flex;
    justify-content: center;
    background-color: #FFF5F6;
}

.footer__rights-description {
    @include font (14px, 700, 1.52);
    color: #907E82
}

@media screen and (max-width: 767.98px) {
    .footer__rights-block {
        padding-top: 16px;
        padding-bottom: 3px;
    }

    .footer__rights-description {
        width: 150px;
        line-height: 1.52;
    }
}

@media screen and (min-width: 768px) {
    .footer__rights-block {
        padding-top: 8px;
        padding-bottom: 5px;
    }

    .footer__rights-description {
        line-height: 1.86;
    }
}

@media screen and (min-width: 1200px) {
    .footer__rights-block {
        padding-top: 7px;
        padding-bottom: 4px;
    }
}