:root {
    --primary-font-family: 'DM Sans', sans-serif;
    --secondary-font-family: 'Titan One', cursive;
    --accent-color:rgba(212, 20, 67, 1);
    --toptitle-color:rgba(255, 165, 186, 1);
    --description-dark: rgba(144, 126, 130, 1);
    --description-light: rgba(255, 255, 255, 1);
}